

<h1>Best selling products this week</h1>

<div class="container">

<div class="image">

        <img src="~/Images/showcase-img-1.png" alt="Adidas Image 1">

        <div class="text"><br /><p class="prodp2">@Model.ProductModel.Name</p> </div>
        <h1>@Model.ProductModel.Price</h1>

</div>

<div class="image">

        <img src="~/Images/showcase-img-1.png" alt="Adidas Image 2">

         <div class="text"><br /><p class="prodp2">@Model.ProductModel.Name</p> </div>
        <h1>@Model.ProductModel.Price</h1>

</div>

<div class="image">

        <img src="~/Images/showcase-img-1.png" alt="Adidas Image 3">

        <div class="text"><br /><p class="prodp2">@Model.ProductModel.Name</p> </div>
        <h1>@Model.ProductModel.Price</h1>

</div>

<div class="image">

        <img src="~/Images/showcase-img-1.png" alt="Adidas Image 3">

         <div class="text"><br /><p class="prodp2">@Model.ProductModel.Name</p> </div>
        <h1>@Model.ProductModel.Price</h1>

</div>

<div class="image">

        <img src="~/Images/showcase-img-1.png" alt="Adidas Image 4">
        <div class="text"><br /><p class="prodp2">@Model.ProductModel.Name</p> </div>
        <h1>@Model.ProductModel.Price</h1>

</div>

</div>

<!-- -->

</div>

<div class="loadbtn">

<button>left</button>

<button>Right</button>

</div>

<div class="three-pictures">

<div class="image">

        <img src="~/Images/showcase-img-1.png" alt="Adidas Image 4">

        <div class="text"><br /><p class="prodp2">@Model.ProductModel.Name</p> </div>
        <h1>@Model.ProductModel.Price</h1>

</div>

<div class="image">

        <img src="~/Images/showcase-img-1.png" alt="Adidas Image 4">

        <div class="text"><br /><p class="prodp2">@Model.ProductModel.Name</p> </div>
        <h1>@Model.ProductModel.Price</h1>

</div>

<div class="image">

<img src="~/Images/showcase-img-1.png" alt="Adidas Image 4">

        <div class="text"><br /><p class="prodp2">@Model.ProductModel.Name</p> </div>
        <h1>@Model.ProductModel.Price</h1>

</div>

</div>

</div>
